SampleProject_s
Cavity800
SSC_for_Sosoho
C538
C1092V
KWT_simulations
C800MHz
SimulationData
MuCol_Study
TestFolder
PhD_Thesis
exe/own_exe
manual_run/slans/Cavity
dist
docs
utils/multipacting_codes
__pycache__/
.idea
venv
utils/test.py
exe
analysis_modules/eigenmode/SLANS/MidCellTune
analysis_modules/eigenmode/SLANS/EndCellTune
D:\Dropbox\CavityDesignHub\manual_run\slans\SLANS_exe
D:\Dropbox\CavityDesignHub\manual_run\abci\ABCI_exe
D:\Dropbox\CavityDesignHub\manual_run\tune\Tests
D:\Dropbox\CavityDesignHub\manual_run\tune\Tests\f_opt
node_editor
D:\Dropbox\CavityDesignHub\cli\exe